<!-- Sidebar -->
<aside class="sidebar" id="sidebar">
    <div class="logo">
        <h1>Bby_Lion</h1>
    </div>

    <div class="menu">
        <a href="/dashboard" class="on active"><i class="fa-solid fa-wallet"></i>Add funds</a>
        <a href="#" class="on"><i class="fa-solid fa-bullhorn"></i>Updates</a>
        <a href="#" class="on"><i class="fa-solid fa-taxi"></i>Services</a>
        <a href="#" class="on"><i class="fa-solid fa-headset"></i>Place ads</a>
        <a href="#" class="on"><i class="fa-solid fa-phone"></i>Contact us </a>
        <a href="#" class="on"><i class="fa-solid fa-circle-exclamation"></i>Privacy Policy</a>
        <a href="/" class="on"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
    </div>


    <footer>
        <div class="footer-copyright">
            &copy; 2024 Your 4 ssm . All rights reserved.
        </div>
    </footer>
</aside>

<!-- Arrow to toggle sidebar -->
<div class="toggle-sidebar" id="toggle-btn">
    <i class="fa-solid fa-angle-left"></i>
</div>

<!-- Main content -->
<main class="main-content">
    <header class="header">
        <div class="profile-summary">
            <img src="/uploads/IMG-20240529-WA0122.jpg" alt="Profile" class="profile-pic">
            <div>
                <h2>
                    <%= username %>
                </h2>
                <p>
                    <%= email %>
                </p>
            </div>
        </div>
    </header>
