* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(113.36deg, #000002 -12.22%, #9685de 179.61%);
    color: #333;
}

.logo img {
    text-align: center;
    margin-bottom: 10px;

}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: rgba(64, 66, 98, 0.4);
    color: #fff;
    padding: 0 20px;
    transition: width 0.3s ease;
    z-index: 1000;
    overflow: hidden;
}

@keyframes moveBackground {
    0% {
        background-position: center;
    }

    25% {
        background-position: center top;
    }

    50% {
        background-position: center;
    }

    75% {
        background-position: center bottom;
    }

    100% {
        background-position: center;
    }
}

.contain-hamburger {
    display: none;
}
.menu-container{
    display: none;
}
.sidebar {
    background-image: url('https://promovk.ru/panel/images/decor3.svg');
    background-size: 60rem;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    animation: moveBackground 9s ease-in-out infinite;
}

.menu {
    list-style: none;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(89, 92, 152, .2);
}

.menu a {
    padding: 10px 0;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color: #ccc;
    display: flex;
    gap: 15px;
}

.menu a.active {
    background: linear-gradient(113.36deg, #7f65e8 -12.22%, #b6a3ff 179.61%);
    color: #fff;
    border-radius: 2px;
    padding: 5px;
    font-size: 17px;
}


/* footer  */
footer {
    color: #ccc;
    text-align: center;
    margin-top: 17rem;
}

.footer-copyright {
    font-size: 15px;
    margin-top: 15px;
}

/* Sidebar hidden state */
.sidebar.closed {
    transform: translateX(-100%);
}

/* Arrow to toggle sidebar */
.toggle-sidebar {
    position: absolute;
    position: fixed;
    top: 1rem;
    left: 250px;
    padding: 10px 5px;
    background: linear-gradient(113.36deg, #0b0a0a -12.22%, #6a51cf 179.61%);
    cursor: pointer;
    transition: left 0.3s ease;
}

.toggle-sidebar i {
    color: white;
    font-size: 20px;
}

.container.sidebar-closed .toggle-sidebar {
    left: 20px;
}

.container.sidebar-closed .main-content {
    margin-left: 20px;
}





/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 10px;
    margin-left: 250px;
    transition: margin-left 0.2s ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-content::before {
    content: "";
    position: fixed;
    top: 20px;
    left: 80rem;
    width: 150px;
    height: 150px;
    background-image: url('https://promovk.ru/panel/images/decor4.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
    cursor: pointer;
    animation: moveAround 9s linear infinite;
    /* Adjust duration for speed */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border-bottom: 1px solid rgba(89, 92, 152, .2);
    padding: 10px;
    border-radius: 10px;
}

.profile-summary {
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
    margin-left: 2rem;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #7474ac;
}





/* Account Overview Section */
.section-title {
    padding-top: 20px 30px;
    padding-bottom: 20px;
    color: #fff;
    font-weight: lighter;
    font-size: larger;
}

.account-overview {
    border-radius: 10px;
    background: rgba(38, 39, 62, .4);
    border: 1px solid rgba(89, 92, 152, .2);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.overview-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.overview-grid .active-1 {
    background: rgba(64, 66, 98, 0.4);
    gap: 10px;
}

.overview-grid .active-2 i {
    font-size: 38px;
    color: #ccc;
}

.active-2 {
    display: flex;
    gap: 15px;
    padding: 5px;
}

.overview-grid .active-1 .hold {
    color: #ccc;
}

.overview-box1 {
    background: linear-gradient(113.36deg, #8568fa -12.22%, #b5a5f8 179.61%);
    padding: 5px 20px;
    border: 1px solid rgba(89, 92, 152, .2);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.overview-box {
    background: linear-gradient(113.36deg, #8568fa -12.22%, #b5a5f8 179.61%);
    padding: 15px 20px;
    border: 1px solid rgba(89, 92, 152, .2);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
}

.overview-box i {
    font-size: 50px;
    color: #fff;
}

.overview-box h3 {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.overview-box p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.fund-btn {
    background: #7474ac;
    border: 1px solid rgba(89, 92, 152, .2);
    font-weight: bold;
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fund-btn:hover {
    background: linear-gradient(113.36deg, #7f65e8 -12.22%, #b6a3ff 179.61%);
}



/* 
Social Media Boosting Services 
HERE I ADDED THE STYLE FOR media boosting service in ENGAGEMENT CSS
AND LINKED IT HERE */




/* Special Offers Section */
.special-offers {
    margin-top: 40px;
}

.special-offers h2 {
    padding: 20px;
}

.offers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.offer-box {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: rgba(38, 39, 62, .4);
    border: 1px solid rgba(89, 92, 152, .2);
}

.offer-box h3 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #ccc;
    padding: 0px 0;
}

.offer-box p {
    font-size: 15px;
    color: #ccc;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(89, 92, 152, .2);
    padding: 15px 0;
}

.offer-btn {
    background: #7474ac;
    border: 1px solid rgba(89, 92, 152, .2);
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.offer-btn:hover {
    background: linear-gradient(113.36deg, #7f65e8 -12.22%, #b6a3ff 179.61%);
}







@media (max-width: 800px) {
    .contain-hamburger {
        display: block;
        padding: 10px 20px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    /* General styles */
    .menu-container {
        position: fixed;
        top: 0;
        left: -100%;
        width: 310px;
        height: 100%;
        background: linear-gradient(113.36deg, #000002 -12.22%, #9685de 179.61%);
        transition: left 0.7s ease-in-out;
        z-index: 1000;
        display: flex;
        flex-direction: column;
    }
    .menu {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-top: 4rem;
    }
    .menu a {
        margin-bottom: 10px;
        color: #ccc;
        text-decoration: none;
        font-size: 16px;
    }
    .menu-container footer {
        margin-top: auto;
        padding: 20px;
        text-align: center;
    }
    .menu-container.active {
        left: 0;
    }
    .hamburger {
        cursor: pointer;
    }
    .hamburger i {
        font-size: 25px;
        color: #ccc;
    }
    .sidebar {
        display: none;
    }
    /* Arrow to toggle sidebar */
    .toggle-sidebar {
        display: none;
    }


    /* Main Content */
    .main-content {
        margin-left: 0px;
        width: 100%;
    }
    .profile-summary {
        padding: 0 0;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #fff;
        margin-left: 0rem;
    }
    
    .profile-pic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #7474ac;
    }
    .profile-summary h2{
        font-weight: 500;
        font-size: 20px;
    }
    .profile-summary p{
        font-size: 15px;
    }


    /* Account Overview Section */
    .account-overview h2{
        font-weight: 500;
    }
    .overview-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .overview-box1 {
        border-radius: 5px;
    }
    .overview-box {
        background: rgba(64, 66, 98, 0.4);
        border-radius: 5px;
        padding: 10px;
        margin: 0;
    }
    .overview-box i {
        display: none;
    }
    .hold{
        width: 100%;
    }
    .active-2 .hold p{
     padding: 5px;
    }
    .overview-box .hold p{
     font-size: 15px;
     font-weight: lighter;
    }

    .overview-box .hold h3{
        font-weight: lighter;
        border-bottom: 1px solid rgba(117, 118, 134, 0.4);
        padding: 5px;
        width: 100%;
    }
   .fund-btn {
    background: #7474ac;
    border: 1px solid rgba(89, 92, 152, .2);
    font-weight: 500;
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



    
    /* 
    Social Media Boosting Services 
    HERE I ADDED THE STYLE FOR media boosting service in ENGAGEMENT CSS
    AND LINKED IT HERE */


    /* Special Offers Section */
    .special-offers h2{
        font-weight: bold;
    }
    .offer-box h3 {
        font-weight: lighter;
        font-size: 18px;
    }    
    .offers-grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}