/* <!-- Social Media Boosting Services --> */
.social-network {
    border-radius: 10px;
    background: rgba(38, 39, 62, .4);
    border: 1px solid rgba(89, 92, 152, .2);
    padding: 20px;
    width: 100%;
}

.social-network h1 {
    color: #fff;
    margin-bottom: 10px;
    font-size: xx-large;
}

.social-network h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px 0;
    border-top: 1px solid rgba(89, 92, 152, .2);
}

.grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.network {
    background: rgba(64, 66, 98, 0.4);
    border: 1px solid rgba(89, 92, 152, .2);
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #ccc;
}

.network i {
    padding: 0 10px;
    font-size: 22px;
}

.network:hover {
    background-color: #7474ac;
    color: #fff;
}

/* Active class */
.network.active {
    background: linear-gradient(113.36deg, #7f65e8 -12.22%, #b6a3ff 179.61%);
    color: #fff;
}

.actions {
    display: flex;
    gap: 20px;
    width: 100%;
    border-top: 1px solid rgba(89, 92, 152, .2);
    padding: 10px 0;

}






/* General Styles for Toggle Engagement */
.summary {
    display: flex;
    padding: 0 10px;
    gap: 5rem;
    border: 1px solid rgba(89, 92, 152, .2);
    border-radius: 10px;
}

.toggle-content {
    margin: 15px 0;
    width: 60%;
    padding: 20px 15px;
    border-radius: 10px;
    background-color: rgba(64, 66, 98, 0.4);
}

/* Label Styling */
label {
    color: #ccc;
}

/* Input and Select Elements */
input,
select {
    background: rgba(64, 66, 98, 0.4);
    border: 1px solid rgba(89, 92, 152, .2);
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
    width: 100%;
    margin: 5px 0;
    margin-bottom: 15px;
}

option {
    background-color: #4f4f7b;
}

option:hover {
    background-color: #7474ac;
}

/* Delivery Time & Discount Info */
.delivery-time,
#facebook-discount-info,
#tiktok-discount-info,
#instagram-discount-info,
#youtube-discount-info,
#twitter-discount-info,
#telegram-discount-info {
    color: #ccc;
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

/* Submit and Confirm Buttons */
.submit-btn,
#facebook-confirm-order,
#youtube-confirm-order,
#twitter-confirm-order,
#tiktok-confirm-order,
#instagram-confirm-order,
#telegram-confirm-order {
    padding: 10px 50px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background: #7474ac;
    font-size: 15px;
    margin-top: 20px;
    width: 100%;
}

/* Flexbox Container */

#facebook-order-summary-modal,
#telegram-order-summary-modal,
#youtube-order-summary-modal,
#tiktok-order-summary-modal,
#instagram-order-summary-modal,
#twitter-order-summary-modal {
    margin-top: 5rem;
    background-color: rgba(64, 66, 98, 0.4);
    padding: 20px;
    height: 30%;
    width: 30%;
    padding: 20px 15px;
    border-radius: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ccc;
}

.flex a {
    color: #ccc;
}

#facebook-order-summary-modal h3,
#telegram-order-summary-modal h3,
#youtube-order-summary-modal h3,
#tiktok-order-summary-modal h3,
#instagram-order-summary-modal h3,
#twitter-order-summary-modal h3 {
    margin-bottom: 15px;
    font-weight: lighter;
    font-size: 20px;
}

/* Loading Spinner */
#facebook-loading-spinner,
#telegram-loading-spinner,
#instagram-loading-spinner,
#tiktok-loading-spinner,
#twitter-loading-spinner,
#youtube-loading-spinner {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#loading-spinner.active {
    display: flex;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 6px solid #b6a3ff;
    border-top: 6px solid #7474ac;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Keyframes for Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}











@media (max-width: 800px) {
    .social-network h1 {
        color: #fff;
        margin-bottom: 10px;
        font-size: x-large;
        font-weight: 500;
        width: 100%;
    }

    .summary {
        display: flex;
        flex-direction: column;
        gap: 0;
        border: 1px solid rgba(89, 92, 152, .2);
    }

    .toggle-content {
        width: 100%;
    }

    #facebook-order-summary-modal,
    #telegram-order-summary-modal,
    #youtube-order-summary-modal,
    #tiktok-order-summary-modal,
    #instagram-order-summary-modal,
    #twitter-order-summary-modal {
        width: 100%;
        height: 50%;
        margin-top: 5rem;
        padding: 20px 10px;
        border-left: none;
        border-top: 1px solid rgba(146, 150, 236, 0.2);
        margin: 0;
        margin-bottom: 1rem;
    }

    .flex {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: #ccc;
    }

    .flex a {
        color: #ccc;
    }
}